.user-settings-container {
  width: 340px;
  height: 615px;
  text-align: center;
  background-color: var(--lighter-color);
  border-radius: 12px;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
}

.main-info > p {
  height: 19px;
  margin: 2px;
  padding: 0;
}

.main-info-img {
  width: 45px;
  height: 45px;
}

.detailed-info {
  margin: 0 47px 42px;
}

.avatar-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 16px;
  background: grey;
  border-radius: 50%;
}

.main-info-text-name {
  font-weight: 500;
  font-size: 13px;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
