@import '../../layout/main.css';

.user-settings-container {
  height: 615px;
  width: 340px;
  border-radius: 12px;
  background-color: var(--lighter-color);
  text-align: center;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;

  & p {
    padding: 0px;
    margin: 2px;
    height: 19px;
  }
}

.main-info-img {
  height: 45px;
  width: 45px;
}

.detailed-info {
  margin-bottom: 42px;
}

.avatar-container {
  height: 80px;
  width: 80px;
  background: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 16px;
}

.main-info-text_name {
  font-weight: 500;
  font-size: 13px;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
