@import "../../layout/main.css";

.settings-container {
  height: 615px;
  width: 340px;
  border-radius: 12px;
  background-color: var(--lighter-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-form {
  margin-top: 180px;
}

.settings-button {
  margin-top: 36px;
}
