<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./editUserSettings.css">
  <title>Edit User Settings</title>
</head>
<body>
  <div class="page-container">
  <div class="settings-container">
    <form class="settings-form">
      {{>settings-form icon='../../../static/icons/name.svg' label='Name' type='text'}}
      {{>settings-form icon='../../../static/icons/name.svg' label='Last Name' type='text'}}
      {{>settings-form icon='../../../static/icons/at.svg' label='Handle' type='text'}}
      {{>settings-form icon='../../../static/icons/login.svg' label='Login' type='text'}}
      {{>settings-form icon='../../../static/icons/mail.svg' label='Email' type='text'}}
      {{>settings-form icon='../../../static/icons/phone.svg' label='Phone' type='text'}}
    </form>
     {{> button label="Save changes" class="settings-button"}}
  </div>
 
  </div>
</body>
</html>