.error-code,
.error-text {
  font-weight: 500;
  font-size: 40px;
  color: var(--accent-color-main);
  margin-bottom: 20px;
}

.error-text {
  font-size: 20px;
  margin-bottom: 70px;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
