@import "../../layout/main.css";

.signup-container {
  width: 340px;
  border-radius: 12px;
  background-color: var(--lighter-color);
  text-align: center;
  display: block;
  overflow: auto;
}

.title {
  margin: 62px auto 29px;
}

.signup-form {
  margin: 30px 30px 0px;
}

.login-link {
  color: #999999;
  display: block;
  margin-bottom: 30px;
}

.signup-container button {
  margin-top: 40px;
}
