@import "../../layout/main.css";

.signup-container {
  display: block;
  width: 340px;
  text-align: center;
  background-color: var(--lighter-color);
  border-radius: 12px;
}

.title {
  margin: 62px auto 29px;
}

.signup-form {
  margin: 30px 30px 0;
}

.login-link {
  display: block;
  margin-bottom: 30px;
  color: #999;
}

.signup-container button {
  margin-top: 40px;
}
