.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--lighter-color);
  border-bottom: 1px solid #eaeaea;
}

.label {
  font-size: 11px;
  color: #999999;
}

.input {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
