<div class="chat-block-wrapper">
  <img
    class="chat-block-avatar"
    src="../../../static/images/generic-avatar.png"
  />
  <div class="chat-block-column">
    <div>{{name}}</div>
    <div>{{lastMessageAbstract}}</div>
  </div>
  <div class="chat-block-column">
    <div>{{lastMessageTime}}</div>
    <div>{{newMessagesCount}}</div>
  </div>
</div>