.profile-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  justify-items: center;
  height: 36px;
  margin: 0;
  padding: 0;
}

.icon {
  width: 24px;
  margin-right: 10px;
}

.label {
  width: 118px;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
}

.value {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  text-align: right;
}
