<div class="chats-container">
  <div class="chats-toolbar">
    <a href="/settings" class="chatlist-profile-button"></a></div>

  {{{chatsBlocks}}}

  {{{chatThread}}}
  {{{button}}}
  {{{createChat}}}
</div>