@import "../../layout/main.css";

.chats-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chats-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  padding: 5px;
  background-color: var(--lighter-color);
}

.chat-thread,
.chats-list {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.chats-list {
  flex-direction: column;
  justify-content: flex-start;
  width: 310px;
  padding: 5px;
  border-right: 1px solid var(--border-color);
}

.chat-thread {
  width: 100%;
}

.chatlist-profile-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--neutral-color);
  border-radius: 10px;
}
