@import "../../layout/main.css";

.chats-container {
  height: 100vh;
  display: flex;
  width: 100%;
}

.chats-toolbar {
  width: 60px;
  background-color: var(--lighter-color);
}

.chat-thread,
.chats-list {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.chats-list {
  width: 310px;
  border-right: 1px solid var(--border-color);
}

.chat-thread {
  width: 100%;
}
