---
title: Chat views
views:
  [
  {name: 'Login', link: './modules/Login/login.hbs'},
  {name: 'Sign up', link: './modules/Signup/signup.hbs'},
  {name: 'Chat list', link: './modules/ChatList/chatList.hbs'},
  {name: 'User settings', link: './modules/UserSettings/userSettings.hbs'},
  {name: '404', link: './modules/Errors/404.hbs'},
  {name: '500', link: './modules/Errors/500.hbs'},
  ]


---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./layout/main.css">
  </head>
  <body>
  <div class="main-container">
    <div class="page-container">
    <h1>{{ title }}</h1>
    <ul>
      {{#each views}}
       <li class="page-link"> <a href={{this.link}}>{{this.name}}</a></li>
      {{/each}}
    </ul>
    <script type="module" src="index.js"></script>
    </div>
    </div>
  </body>
</html>