.settings-form-item-container {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.settings-form-item-label {
  width: 100px;
  text-align: left;
  margin-left: 10px;
  font-weight: 300;
  font-size: 13px;
}

.settings-form-input {
  width: 136px;
  background-color: var(--body-color);
  color: var(--text-color-main);
  border: 0;
  border-radius: 10px;
  height: 25px;
  font-weight: 500;
  font-size: 13px;
  text-align: right;
  padding: 0 10px;
}
