<div class="login-container">
  <h1 class="login-title">{{title}}</h1>
  <form class="login-form">
    {{{inputLogin}}}
    {{{inputPassword}}}
  </form>
  {{{button}}}
</div>
<a class="signup-link" href="../../modules/Signup/signup.hbs">Sign up</a>