.login-container {
  width: 340px;
  height: 460px;
  text-align: center;
  background-color: var(--lighter-color);
  border-radius: 12px;
}

.login-title {
  margin: 62px auto 29px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.signup-link {
  display: block;
  color: var(--link-color);
}

.login-container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--neutral-color);
}
