@import "../../layout/main.css";

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 615px;
  padding: 22px;
  text-align: center;
  background-color: var(--lighter-color);
  border-radius: 12px;
}

.settings-form {
  width: 100%;
  margin-top: 180px;
}

.settings-button {
  margin-top: 36px;
}

.change-password-input {
  width: 110px;
}
