/* poppins-100 - latin */
@font-face {
  font-weight: 100;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-100.woff") format("woff"),
    /* Modern Browsers */ url("../../static/fonts/poppins-v20-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-100.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
  font-weight: 200;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-200.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-200.woff") format("woff"),
    /* Modern Browsers */ url("../../static/fonts/poppins-v20-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-200.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-weight: 300;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("../../static/fonts/poppins-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../../static/fonts/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  src: url("../../static/fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../static/fonts/poppins-v20-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/fonts/poppins-v20-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/fonts/poppins-v20-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("../../static/fonts/poppins-v20-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../static/fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
