@import "npm:normalize.css";
@import "./variables.css";
@import "./fonts.css";
@import "../components/Button/button.css";
@import "../components/Input/input.css";
@import "../components/LabeledInput/labeledInput.css";
@import "../components/ProfileInfo/profileInfo.css";
@import "../components/Error/error.css";
@import "../components/SettingsForm/settingsForm.css";
@import "../modules/Login/login.css";
@import "../modules/Signup/signup.css";
@import "../components/InputError/inputError.css";
@import "../modules/ChatList/chatList.css";
@import "../components/ChatBlock/chatBlock.css";
@import "../components/ChatThread/chatThread.css";
@import "../modules/Errors/errors.css";
@import "../modules/UserSettings/userSettings.css";
@import "../modules/EditUserSettings/editUserSettings.css";
@import "../modules/ChangePassword/changePassword.css";

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: var(--text-color-main);
  background-color: var(--body-color);
  min-width: 320px;
  margin: 0;
  padding: 0;
}

/* input:focus {
  outline: none;
  box-shadow: 0;
} */

.page-container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

.page-link a {
  color: var(--text-color-main);
}

.page-link a:visited {
  color: grey;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
