@import "npm:normalize.css";
@import "./variables.css";
@import "./fonts.css";
@import "../components/Button/button.css";
@import "../components/LabeledInput/labeledInput.css";
@import "../components/ProfileInfo/profileInfo.css";
@import "../components/Error/error.css";
@import "../components/SettingsFormInput/settingsFormInput.css";
@import "../modules/Login/login.css";
@import "../modules/Signup/signup.css";
@import "../components/ErrorText/errorText.css";
@import "../modules/ChatList/chatList.css";
@import "../components/ChatBlock/chatBlock.css";
@import "../components/ChatThread/chatThread.css";
@import "../modules/Errors/errors.css";
@import "../modules/UserSettings/userSettings.css";
@import "../modules/EditUserSettings/editUserSettings.css";
@import "../modules/ChangePassword/changePassword.css";
@import "../components/Modal/modal.css";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: var(--text-color-main);
  font-size: 15px;
  font-family: Poppins, sans-serif;
  line-height: 30px;
  background-color: var(--body-color);
}

input:focus {
  outline: none;
  box-shadow: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.h1 {
  font-weight: 600;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 20px;
}

.page-link a {
  color: var(--text-color-main);
}

.page-link a:visited {
  color: grey;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  height: 100vh;
}
